body {
    background: #000000;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    color: rgb(0, 255, 0);
}

ol,
ul {
    padding-left: 10px;
}

.board {
    padding: 10px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.game {
    display: block;
    text-align: center;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #9999;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: rgb(0, 255, 0);
    height: 30px;
    width: 30px;
}

.super-board-row {
    display: inline-table;
}

.square:focus {
    outline: rgb(189, 5, 15);
}

.kbd-navigation .square:focus {
    background: #0000;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 10px;
}