body {
    background: #000000;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    color: rgb(0, 255, 0);
}

ol,
ul {
    padding-left: 10px;
}

.board {

    padding: 10px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.game {

    display: block;
    text-align: center;
}

.status {
    margin-bottom: 10px;
}

.controls{
    display: flex;
    flex-direction: column;
}

.square {
    background: #9999;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color :black;
    height: 30px;
    width: 30px;
}

.true {
    background-color: green;
}

.r{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.w{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.super-board-row {
    display: inline-table;
}

.square:focus {
    outline: rgb(189, 5, 15);
}

.kbd-navigation .square:focus {
    background: #0000;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 10px;
}
